@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
html {
  scroll-behavior: smooth;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}
body {
  background-color: #131314;
  color: #caccce;
}
.app {
  display: flex;
  height: 100vh;
  overflow: hidden;
}
.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 100%;
}
.sidebar {
  background-color: #1e1f20;
  height: 100%;
  width: 60px;
  padding: 20px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  transition: 0.3s all;
  &.sidebarToggled {
    width: 284px;
    align-items: flex-start;
    max-width: calc(100% - 20px);
  }
  .top-col {
    width: 100%;
    height: 105px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-between;
  }
  .bottom-col {
    width: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 10px;
  }
}
.header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 18px 25px;
  transition: 0.3s all;
  div:not([class="popup"]) {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  div.first-col {
    .logo {
      font-weight: 500;
      font-size: 16px;
      text-decoration: none;
      color: #caccce;
    }
    button {
      display: none;
    }
  }
  img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
  }
  .popup {
    position: absolute;
    width: 300px;
    max-width: 100%;
    height: 200px;
    right: 25px;
    top: 71px;
    padding: 15px;
    background-color: #1e1f20;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 10;
    p.email {
      text-align: center;
      font-size: 14px;
      font-weight: 400;
    }
    .user-details {
      display: flex;
      flex-direction: column;
      .avatar {
        width: 50px;
        height: 50px;
      }
    }
    .logout {
      width: 100%;
      height: 40px;
      color: #fff;
      font-size: 15px;
      border: none;
      background-color: #33333361;
      display: flex !important;
      align-items: center;
      justify-content: center;
      border-radius: 5px;
      transition: 0.3s;
      &:hover {
        background-color: #333;
      }
    }
  }
}
.home {
  max-width: 1200px;
  max-height: calc(100vh - (70.97px + 65px));
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px 25px;
  transition: 0.3s all;
  overflow-y: scroll;
  &::-webkit-scrollbar {
    width: 2px;
    background-color: transparent;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #1e1f20;
    border-radius: 5px;
  }
  .welcome {
    display: flex;
    flex-direction: column;
    align-items: center;
    h1 {
      background: -webkit-linear-gradient(
        16deg,
        #4285f4 0,
        #9b72cb 9%,
        #d96570 20%,
        #d96570 24%,
        #9b72cb 35%,
        #4285f4 44%,
        #9b72cb 50%,
        #d96570 56%,
        #d96570 75%,
        #9b72cb 100%
      );
      background: linear-gradient(
        16deg,
        #4285f4 0,
        #9b72cb 9%,
        #d96570 20%,
        #d96570 24%,
        #9b72cb 35%,
        #4285f4 44%,
        #9b72cb 50%,
        #d96570 56%,
        #d96570 75%,
        #9b72cb 100%
      );
      -webkit-background-clip: text;
      background-clip: text;
      color: transparent;
      font-size: 52px;
      font-weight: 600;
      transition: 0.3s all;
    }
    p {
      color: #444746;
      font-size: 50px;
      font-weight: 500;
    }
  }
  .chat-results {
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    scroll-behavior: smooth;
    &::-webkit-scrollbar {
      width: 2px;
      background-color: transparent;
    }
    &::-webkit-scrollbar-thumb {
      background-color: #1e1f20;
      border-radius: 5px;
    }
    .user-prompt {
      display: flex;
      align-items: flex-start;
      flex-wrap: wrap;
      gap: 15px;
      margin-bottom: 35px;
      img {
        width: 35px;
        height: 35px;
        border-radius: 50%;
      }
      h4 {
        background-color: #cccccc1c;
        width: fit-content;
        max-width: 100%;
        height: auto;
        padding: 10px;
        border-radius: 12px;
        font-weight: normal;
      }
    }
    .ai-response {
      display: flex;
      align-items: flex-start;
      gap: 15px;
      padding-bottom: 50px;
      img {
        width: 35px;
        height: 35px;
        border-radius: 50%;
      }
      .markdown {
        display: flex;
        flex-direction: column;
        width: 100%;
        h2 {
          margin: 20px 0;
        }
        h3 {
          margin: 30px 0 20px;
        }
        p {
          margin: 20px 0;
          line-height: 1.8;
        }
        ul {
          list-style: disc outside;
          padding-left: 30px;
          display: flex;
          flex-direction: column;
          gap: 5px;
          font-size: 15px;
          li {
            margin-bottom: 10px;
            line-height: 1.7;
            ul {
              margin-top: 20px;
            }
          }
        }
        pre {
          overflow-x: scroll;
          background-color: #000;
          margin: 20px 0;
          border-radius: 10px;
          div:not(:first-child) {
            background: transparent !important;
            code {
              background: transparent !important;
            }
          }
          &::-webkit-scrollbar {
            display: none;
          }
        }
      }
      &.rtl {
        ul {
          padding-left: 0;
          padding-right: 30px;
        }
      }
    }
    .response-icons {
      display: flex;
      justify-content: flex-start;
      margin: 10px 0;
      padding: 0 0 20px 0;
      button {
        width: 30px;
        height: 30px;
        border: none;
        outline: none;
        border-radius: 12px;
        color: #fff;
        background-color: transparent;
        font-size: 16px;
        display: flex;
        align-items: center;
        justify-content: center;
        svg {
          font-size: 16px;
          color: #ccccccb0;
        }
        &:hover {
          background-color: #2f2f2f;
        }
        &:active {
          background-color: transparent;
        }
      }
    }
  }
}
.chat_form-wrapper {
  padding: 0 25px 15px;
  .chat-form {
    max-width: 1200px;
    margin: 0 auto;
    .input {
      display: flex;
      align-items: center;
      justify-content: space-between;
      background-color: #cccccc0a;
      border-radius: 36px;
      position: relative;
      textarea {
        width: calc(100% - 60px);
        height: auto;
        min-height: 50px;
        max-height: 200px;
        border-radius: 35px;
        border: none;
        padding: 15px 20px;
        background: transparent;
        outline: none;
        caret-color: #fff;
        color: #ffff;
        resize: none;
        overflow-y: scroll;
        transition: 0.3s;
        &::placeholder {
          color: #ffffffb8;
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
        }
      }
      .input-icons {
        position: absolute;
        right: 20px;
        bottom: 8px;
        display: flex;
        align-items: center;
        gap: 4px;
        button {
          width: 35px;
          height: 35px;
          border-radius: 50%;
          font-size: 18px;
          background: transparent;
          border: none;
          background-color: #fff;
          color: #000;
          display: flex;
          align-items: center;
          justify-content: center;
          transition: 0.3s all;
          &.i-disabled {
            background-color: #333;
          }
        }
      }
    }
  }
}
.auth-form {
  display: flex;
  align-items: center;
  min-height: 100dvh;
  max-width: 480px;
  width: 100%;
  margin: 0 auto;
  .form-data {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #33333330;
    padding: 25px 15px;
    border-radius: 10px;
    h2 {
      margin-bottom: 20px;
    }
    input {
      background-color: transparent;
      border: 1px solid #333;
      outline: none;
      padding: 10px;
      border-radius: 4px;
      color: #fff;
      font-weight: bold;
      margin: 4px 0 20px;
      transition: 0.3s;
      &:focus {
        border-color: #ccc;
      }
    }
    button[type="submit"] {
      height: 40px;
      width: 120px;
      background-color: #33333361;
      color: #fff;
      border: 0;
      border-radius: 4px;
      display: flex;
      align-items: center;
      justify-content: center;
      outline: none;
      transition: 0.3s all;
      &:hover {
        background-color: #333;
      }
      &:disabled {
        &:hover {
          background-color: #33333361;
        }
      }
    }
    .provider {
      display: flex;
      height: 40px;
      justify-content: center;
      align-items: center;
      background-color: #33333361;
      color: #fff;
      margin-top: 20px;
      font-size: 15px;
      border-radius: 2px;
      border: 0;
      outline: 0;
      transition: 0.2s all;
      &:hover {
        background-color: #333;
      }
      &:disabled {
        &:hover {
          background-color: #33333361;
        }
      }
      img {
        width: 25px;
        height: 25px;
        margin-left: 10px;
      }
    }
    a[href="/login"],
    a[href="/create-account"] {
      color: #fff;
      margin-top: 20px;
      font-weight: 300;
      text-decoration: none;
      text-align: center;
      width: 100%;
      &:hover {
        color: #ccc;
      }
    }
  }
}
*:disabled {
  cursor: default;
}
button {
  cursor: pointer;
}
.code-info-wrapper {
  background-color: #cccccc36;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  span {
    font-size: 14px;
    color: #ccccccc9;
  }
  span:last-child {
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 1px;
  }
}
.loader-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  padding: 10px 15px;
  background-color: #ffffff14;
  border-radius: 5px;
  .spinner {
    margin-left: 20px;
  }
}
.loader {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  margin-top: 20px;
  span {
    background: linear-gradient(to right, #3754e0e0, #fff 50%, #3754e0e0);
    background-size: 800px 50px;
    height: 20px;
    width: 100%;
    border-radius: 5px;
    animation: gradient 4s infinite linear;
    transition: 0.3s;
    &:last-child {
      width: calc(100% - 25%);
    }
  }
}
.spinner {
  width: 15px;
  height: 15px;
  border: 2px solid #fff;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  &.wider {
    border: 3px solid #fff;
    border-bottom-color: transparent;
    width: 25px;
    height: 25px;
  }
}
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes gradient {
  0% {
    background-position: -800px 0;
  }
  100% {
    background-position: 800px 0;
  }
}
.button {
  width: 32px;
  height: 32px;
  outline: none;
  border: none;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s all;
  background: none;
  &:hover {
    background-color: #333;
  }
  svg {
    font-size: 20px;
    color: #fff;
  }
}
.disabled {
  cursor: default;
  color: #ffffff3d !important;
  user-select: none;
  svg {
    color: #ffffff3d;
  }
  &:hover {
    background-color: transparent;
  }
}
.error {
  background-color: #ff00008a;
  color: #fff;
  padding: 10px;
  margin: 0 0 10px;
  border-radius: 2px;
}
.avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
  background-color: #055d32;
  font-size: 20px;
  color: #fff;
  font-weight: 400;
  border-radius: 50%;
  border: 0px;
  transition: 0.3s;
}
.number-avatar {
  background-color: #174ea6;
  color: white;
}
.consonant-avatar {
  background-color: #0d652d;
  color: white;
}
.cursor {
  background-color: #caccce;
  display: inline-block;
  border-radius: 2px;
  animation: flicker 0.5s infinite;
}
@keyframes flicker {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.copyright {
  text-align: center;
  width: 100%;
  font-size: 12px;
  color: #cccccc75;
}
.rtl {
  direction: rtl;
}

@media screen and (max-width: 667px) {
  .header {
    padding: 18px 15px;
    div.first-col {
      button {
        display: flex;
      }
    }
    .popup {
      right: 15px;
      width: calc(100% - 30px);
    }
  }
  .sidebar {
    transform: translateX(-100%);
    position: absolute;
    &.sidebarToggled {
      transform: translateX(0);
      display: flex;
      z-index: 11;
    }
  }
  .home {
    padding: 30px 15px 0;
    .welcome {
      h1 {
        font-size: 33px;
        p {
          font-size: 22px;
        }
      }
    }
    .chat-results {
      scroll-behavior: unset;
      .ai-response {
        flex-direction: column;
      }
    }
  }
  .chat_form-wrapper {
    padding-inline: 15px;
    .chat-form {
      textarea {
        max-height: 140px !important;
        &::-webkit-scrollbar {
          width: 2px;
          background-color: #333;
        }
        &::-webkit-scrollbar-thumb {
          background-color: #ccc;
          border-radius: 10px;
        }
      }
    }
  }
  .auth-form {
    padding: 20px 20px;
  }
}
@media screen and (min-width: 1400px) {
  .home {
    margin: 0 auto;
  }
}
